* {
    margin: o;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: white;
}

/* inicio header */

header {
    background-color: rgb(255, 223, 228);
    background-image: linear-gradient(rgb(197, 148, 197), white);
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(105, 104, 104);
    text-align: center;
}

.logo__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.carrito {
    font-size: 200%;
}

header img {
    width: 100px;
    height: 70px;
    margin: 0 0 0 20px;
}

header nav ul li {
    display: inline;
}

/* fin header */
/* inicio portada */
.carousel-inner {
    height: 400px;
}

.contener__flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.titulo_portada {
    color: grey;
    font-size: 30px;
    text-align: center;
    /* nombre */
    animation-name: efecto;
    /* veces que se ejecuta */
    animation-iteration-count: infinite;
    /* duracion */
    animation-duration: 4s;
    /* tiempo que demora hasta que carga */
    animation-delay: 1s;
}

@keyframes efecto {
    0% {
        color: rgb(150, 32, 150);
    }

    50% {
        color: rgb(197, 148, 197);
    }

    75% {
        color: black;
    }

    100% {
        color: gray;
    }

}

main .portadaText p {
    text-align: center;
    background-color: white;
    background-image: linear-gradient(white, grey);
    font-size: medium;
    padding-top: 30px;
    padding-bottom: 150px;
    height: 0%;

}

/* fin de portada */
/* inicio footer */

footer {
    color: rgb(15, 15, 15);
    background-image: url(../imag/imagen\ fondo.webp);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    width: 100%;
    height: 0.5s;
}

.bi-whatsapp:before {
    font-size: 200%;
}

.bi-envelope:before {
    font-size: 200%;
}

.bi-geo-alt:before {
    font-size: 200%;
}

.fa-cc-visa:before {
    font-size: 200%;
    color: black;
}

.fa-cc-mastercard::before {
    font-size: 200%;
    color: black;
}

.fa-cc-amex:before {
    font-size: 200%;
    color: black;
}

.fa-cc-paypal:before {
    font-size: 200%;
    color: black;
}

.footer__flex {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;

}

.redes {
    font-size: 200%;
    align-items: center;
}

.footer__creditos {
    font-size: 0.8rem;
    text-align: center;
}

/* fin footer */
/* inicio main nosotros */
.gridPadre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "titulo  titulo"
        "texto   imagen";
    justify-items: left;
}

.tit {

    text-align: left;
    padding: 1cm;
    margin: 1cm;
}

.text_nosotros {
    grid-area: texto;
    padding: 1cm;
    margin: 1cm;
    height: 1cm;

}

.imagnosotros {
    grid-area: imagen;

}

.gridPadre img {
    width: 400px;
}

/* fin main nosotros */
/* animacion de titulos */

.animacion_titulos {
    color: grey;
    font-size: 30px;
    text-align: center;
    /* nombre */
    animation-name: efecto;
    /* veces que se ejecuta */
    animation-iteration-count: infinite;
    /* duracion */
    animation-duration: 4s;
    /* tiempo que demora hasta que carga */
    animation-delay: 1s;
}

@keyframes efecto {
    0% {
        color: rgb(150, 32, 150);
    }

    50% {
        color: rgb(197, 148, 197);
    }

    75% {
        color: black;
    }

    100% {
        color: gray;
    }
}

/* fin animacion de titulos */

.tabla_talles img {
    width: 600px;
    height: 300px;
    margin: 0 0 0 20px;
}

/* inicio vista mobile index-nosotros*/
@media only screen and (max-width: 350px) {
    body {
        background-color: white;
        height: 1000px;
    }

    .carousel-inner {
        height: 300px;
    }

    main .portadaText p {
        text-align: center;
        background-color: white;
        background-image: linear-gradient(white, grey);
        font-size: medium;
        padding-top: 70px;
        padding-bottom: 50px;
        height: 0%;

    }

    .gridPadre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px auto;
        grid-template-areas:
            "titulo  titulo"
            "texto   imagen";
        justify-items: left;
    }

    .tit {

        text-align: left;
        padding: 1cm;
        margin: 1cm;
    }

    .text_nosotros {
        grid-area: texto;
        padding: 0.5cm;
        margin: 0.5cm;
        height: 0.5cm;

    }

    .imagnosotros {
        grid-area: imagen;

    }

    .gridPadre img {
        width: 400px;
    }

    /* inicio footer */

    footer {
        color: rgb(15, 15, 15);
        background-image: url(../imag/imagen\ fondo.webp);
        background-color: grey;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        width: 100%;
        height: 20%;
    }

    .bi-whatsapp:before {
        font-size: 100%;
    }

    .bi-envelope:before {
        font-size: 100%;
    }

    .bi-geo-alt:before {
        font-size: 100%;
    }

    .fa-cc-visa:before {
        font-size: 100%;
        color: black;
    }

    .fa-cc-mastercard::before {
        font-size: 100%;
        color: black;
    }

    .fa-cc-amex:before {
        font-size: 100%;
        color: black;
    }

    .fa-cc-paypal:before {
        font-size: 100%;
        color: black;
    }

    .footer__flex {
        display: flex;
        justify-content: space-around;
        font-size: 0.8rem;

    }

    .redes {
        font-size: 100%;
        align-items: center;
    }

    .footer__creditos {
        font-size: 0.8rem;
        text-align: center;
    }

    /* fin footer */

}

/* fin vista mobile index */