@mixin altoAncho($height, $width){
    height: $height ;
    width: $width;
}
/* mixin portada index */
@mixin flex ($dis,$flex-diretion, $flex-wrap, $align-content, $justify,$align){
 display: $dis;
 flex-direction: $flex-diretion;
 flex-wrap: $flex-wrap;
 align-content: $align-content;
 justify-content: $justify;
 align-items: $align;
}
    

/* fin mixin portada index */