/* inicio main nosotros */
.gridPadre {
    display: flex;
    height: 500px;
    flex-direction: row;
    
    p { padding: 10px;
        width: 40%;  
        font-size: 20px;}
    img{   
        height: 70%;
    width: 50%;
    padding: 10px;
}
    }

.animacion_titulos{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
 
    .tit {

        text-align: left;
    }
}

