/* inicio preguntas frecuentes */
@import "mixsins";

.preguntas{display: flex;
    flex-direction: column;
    margin: 2rem;
    
}
h5 { color: map-get($map:$palette, $key:"secondary" );

}
.tabla_talles img {
    @include altoAncho(300px,400px);
    border: 20px;
    margin: 0 0 0 20px;
    padding: 20px;
}

/* fin preguntas frecuentes */